<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="gradient-background">
        <div class="content-block">
            <h1 class="title">GameMAD</h1>
            <hr>
            <div class="games-container">
                <div class="game1">
                    <a href="Eldenring.ejs"><img alt="Match" src="https://cdn.europosters.eu/image/750/posters/elden-ring-battlefield-of-the-fallen-i121753.jpg"></a>
                    <div class="text1">
                        <a href="Eldenring.ejs"><h4>Elden Ring</h4></a>
                    </div>
                </div>
                <div class="game2">
                    <a href="TheForest.ejs"><img src="https://images.igdb.com/igdb/image/upload/t_cover_big_2x/co20x5.jpg" alt=""></a>
                    <div class="text2">
                        <a href="TheForest.ejs"><h4>The Forest</h4></a>
                    </div>
                </div>
                <div class="game3">
                    <a href="TheLastOfUs.ejs"><img src="https://cdn.europosters.eu/image/750/posters/the-last-of-us-key-art-i127761.jpg" alt=""></a>
                    <div class="text3">
                        <h4><a href="TheLastOfUs.ejs">The Last of Us</a></h4>
                    </div>
                </div>
                <div class="game4">
                    <a href="FC24.ejs"><img src="https://cdn1.epicgames.com/offer/4750c68b2bfa4f43933b81cfd5cc510c/EGS_EASPORTSFC24StandardEdition_EACanada_S2_1200x1600-37aa3816ed46542836e1068060998810" alt=""></a>
                    <div class="text4">
                        <a href="FC24.ejs"><h4>FC 24</h4></a>
                    </div>
                </div>
                <div class="game5">
                    <a href="GodOfWar.ejs"><img src="https://static.printler.com/cache/d/5/0/8/a/2/d508a2a83accd9987d99d4b6b00a80c31b35b3bd.jpg" alt=""></a>
                    <div class="text5">
                        <a href="GodOfWar.ejs"><h4>God of War</h4></a>
                    </div>
                </div>
                <div class="game6">
                    <a href="Minecraft.ejs"><img src="https://i.ebayimg.com/images/g/JnQAAOSwmthgvSM~/s-l1600.jpg" alt=""></a>
                    <div class="text6">
                        <a href="Minecraft.ejs"><h4>Minecraft</h4></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>